@media screen and (min-width:1024px){
 body{
 background-color: black;                         
 }                          

.fa {
  font-size: 60px;
  color: skyblue;
  text-decoration: dotted;
  text-align: center;
  text-shadow: 5px 6px 2px black;
}
.fa:hover {
  color: blue;
  transform: skewX(10deg);
}
.fe {
  font-size: 30px;
  color: black;
  background: skyblue;
  padding-left: 20px;
  box-shadow: 8px 30px 3px dimgray;
}
.fe:hover {
  font-style: italic;
  background-color:black;
  color:white;
  text-shadow: 1px 2px 2px white;
}
.fo {
  font-size: 60px;
  font-style: italic;
  text-align: center;
  text-shadow: 3px 7px 3px;
  color: aliceblue;
}
.fo:hover {
  transform: skewX(50deg);
  text-align: center;
}
.ft {
  font-size: 30px;
  background: white;
  box-shadow: 4px 30px 5px dimgrey;
}
.ft:hover {
  background-color: black;
  color: aliceblue;
}
a {
  font-size: 30px;
  word-spacing: 50px;
  color: aliceblue;
  margin: 0px 20px;
}
img{
margin-left:300px;
}                          
}
@media screen and (max-width: 768px){
body{
position: relative;
max-width: 768;                          
}                          
  .fa {
    font-size: 30px;
    color: skyblue;
    text-decoration: dotted;
    text-align: center;
    text-shadow: 5px 6px 2px black;
    background-color: black;
    border-radius: 20px;
  }
  .fa:hover {
    color: blue;
    transform: skewX(10deg);
  }
  .fe {
    font-size: 20px;
    color: black;
    background: skyblue;
    padding-left: 20px;
    box-shadow: 8px 30px 3px dimgray;
  }
  .fe:hover {
    font-style: italic;
    background-color:black;
    color:white;
    text-shadow: 1px 2px 4px black;
  }
  .fo {
    font-size: 30px;
    font-style: italic;
    text-align: center;
    text-shadow: 3px 7px 3px;
  }
  .fo:hover {
    transform: skewX(50deg);
    text-align: center;
  }
  .ft {
    font-size: 20px;
    background: white;
    box-shadow: 4px 30px 5px dimgrey;
  }
  .ft:hover {
    background-color: black;
    color: aliceblue;
  }
  a {
    font-size: 30px;
    word-spacing: 50px;
    margin: 0px 20px;
  }
}
