@media screen and (min-width: 1024px) {
  body {
    background-color: darkblue;
    color: aliceblue;
    padding: 10px;
    margin: 10px 20px;
  }
  h1 {
    font-size: 50px;
    text-align: center;
    text-shadow: 5px 4px 4px;
    text-decoration: underline;
  }
  p {
    font-size: 25px;
    margin: 10px 10px;
  }
  u {
    color: wheat;
    background-color: red;
    padding: 2px;
    border-radius: 10px;
  }
  span {
    background-color: purple;
    font-size: 50px;
  }
  video {
    float: right;
    width: 200px;
    height: 400px;
  }
  a {
    color: aliceblue;
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  body {
    background-color:black;
    color: aliceblue;
    padding: 10px;
    margin: 10px 10px;
  }
  h1 {
    font-size: 40px;
    text-align: center;
    text-shadow: 5px 4px 4px;
    text-decoration: underline;
  }
  p {
    font-size: 23px;
    margin: 10px 10px;
  }
  u {
    color: wheat;
    background-color: red;
    padding: 2px;
    border-radius: 10px;
  }
  span {
    background-color: purple;
    font-size: 30px;
    box-shadow: 4px 6px 4px white;
  }
  video {
    float: right;
    width: 200px;
    height: 400px;
  }
  a {
    color: aliceblue;
    font-size: 30px;
  }
}
